.page-content {
  padding-top: 115px; 
  /* 80px first navbar + ~55px second navbar */

}

.hero {
  width: 100%;
  /* 80px (first navbar) + ~55px (second navbar) */
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}



/* TEXT */
.heading p {
  font-size: 70px;
  font-weight: 700;
  color: #171717;
  margin-left: 19px;
}


.heading button {

  padding: 16px 36px;
  width: auto;

  border-radius: 30px; /* more modern pill shape */
  /* margin-top: 8px; */
  margin-left: 35px;
  margin-bottom: 40px;

  background-color: rgb(160, 87, 99);
  color: white;

  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;

  border: none;
  cursor: pointer;

  transition: all 0.3s ease;
}

/* HOVER */
.heading button:hover {
  background-color: rgb(140, 70, 82);
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(160, 87, 99, 0.3);
}

/* CLICK */
.heading button:active {
  transform: scale(0.96);
}
.main-i {
    width: 100%;
    height: 100%;
    
}
 .main-i img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

