.offers{
    margin-top: 120px;
    /* width: 65%; */
    /* height: 60vh; */
    display: flex;
    /* margin: auto; */
    padding: 0px 140px;
    margin-bottom: 150px;
    background-color: rgb(216, 213, 213);
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer-left h1{
    font-size: 80px;
    font-weight: 700;
    color: #171717;
    margin-bottom: 20px;
}
.offer-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offer-left button {
  width: 200px;
  padding: 14px 0;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 35px;
  background-color: #ff4141;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.offer-left button:hover {
  background-color: #e63a3a;
  transform: translateY(-2px);
}

.offer-left button:active {
  transform: scale(0.97);
}
.offers-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    height: 450px;
    width: 300px;

}