.admin-dashboard {
  display: flex;
  gap: 30px;
  padding: 40px;
  flex-wrap: wrap;
  /* background: linear-gradient(to right, #0f172a, #0b1120); */
  min-height: 100vh;
  padding-left: 250px ;
}

/* Card Style */
.admin-dashboard > div {
  flex: 1;
  min-width: 260px;
  height: 180px;
  padding: 25px;
  border-radius: 14px;
  background-color: #f7f7f7;
  /* border: 1px solid #616f83; */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  justify-content: center;  /* Center vertically */
  align-items: center;      /* Center horizontally */
  text-align: center;

  transition: all 0.3s ease;
}

/* Hover Effect */
.admin-dashboard > div:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.4);
}

/* Title */
.admin-dashboard h2 {
  font-size: 16px;
  color: #3c5270;
  margin-bottom: 8px;
}

/* Number */
.admin-dashboard span {
  font-size: 36px;
  font-weight: bold;
  color: #38bdf8;
}
.icon{
    font-size: 40px;
}
.user-icon{
    font-size: 40px;
}
.order-icon{
    font-size: 40px;
}
