.item{
    /* 350 */
    width: 100%;
    height: 350px;        
    object-fit: cover;    
    border-radius: 10px;
}
.item p{
    margin: 6px 0;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    font-size: 18px;
    font-weight: 600;
    color: #374151;
}
.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item :hover{
    transform: scale(1.05);
    transition: 0.6s;
}
