.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: white;
  box-shadow: 0 1px 3px -2px black;
}
.navbar-1 {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid #eee;
}

.navbar-2 {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
}

.nav-menu{
    /* position: fixed; */
  display: flex;
  align-items: center;
  gap: 300px;
  list-style: none;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
  background: white;
    border-bottom: 1px solid #eee;

} 
.nav-menu li {
  position: relative;;
}

.nav-menu li a {
  text-decoration: none;
  color: #413a68;
  letter-spacing: 0.8px;
}

.nav-menu li span {
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: rgb(52, 47, 99);
  border-radius: 10px;
  transition: width 0.3s ease;
}

.nav-menu li:hover span {
  width: 100%;
}

.search{
  border: 2px solid gray;
  border-radius: 19px;
}
.search input{
  width: 800px;
  height: 35px;
  border:none;
  font-size: 18px;
  padding-left: 10px;
border-radius: 25px;}

.search button{
  border: none;
  background-color: white;
  margin-right: 8px;
  font-size: 26px;
  border-radius: 50px;
  cursor: pointer;
}

.nav-logo img {
  height: 80px;   
  width: auto;
  cursor: pointer;
}






.cart-icon {
  display: flex;
  align-items: center;
  gap: 45px;
  width: 100px;
  height: 70px;


}

.nav-login-cart {
  position: relative;
  display: flex;
  align-items: center;
}

.login-btn{
  border-radius: 20px;
  border: 1px solid gray;
  outline: none;
  padding: 13px 20px;
}
.login-btn:hover{
  background-color: #f5f5f5;
  cursor: pointer;
  transform: translateY(-3px);

}

.login-btn:active{
  border: 1px solid gray;
  outline: none;
  transform: scale(0.95);
}


.nav-cart-count{
  position: absolute;
  top: 10px;
  right: 65px;
  background-color: rgb(235, 87, 107);
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

}


.delivery-box {

font-size: 50px;

}