.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 100px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo img {
    width: 190px; /* Adjust based on your logo shape */
}

.footer-logo p {
    color: #1a0858;
    font-size: 46px;
    font-weight: 700;;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer-links li {
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-links li:hover {
    color: #ff4141; /* A cute pop of color on hover */
}

.footer-icon-container {
    display: flex;
    gap: 20px;
}

.footer-icon-container img {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    cursor: pointer;
    width: 25px; /* Keeps icons uniform */
    transition: transform 0.3s ease;
}

.footer-icon-container img:hover {
    transform: scale(1.1);
    background-color: #f0f0f0;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 18px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

/* Responsive adjustments */
@media (max-width: 800px) {
    .footer-links {
        gap: 20px;
        font-size: 16px;
    }
    .footer-logo p {
        font-size: 32px;
    }
}