.viewproducts-container {
  margin-left: 250px;
  padding: 45px;
  background: linear-gradient(to right, #f8fafc, #eef2ff);
  min-height: 100vh;
}

.product-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 18px;
}
.product-table th {
  text-align: left;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #94a3b8;
  padding: 10px 18px;
}

.product-table tbody tr {
  background: white;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.05);
  transition: all 0.25s ease;
}

.product-table tbody tr:hover {
  transform: translateY(-4px) scale(1.01);
  box-shadow: 0 12px 25px rgba(99,102,241,0.15);
}

.product-table td {
  padding: 16px 18px;
  font-size: 14px;
  color: #334155;
}

.product-table img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #e0e7ff;
  transition: 0.3s;
}

.product-table tbody tr:hover img {
  transform: scale(1.1);
}
.product-table td:nth-child(5) {
  color: #22c55e;
  font-weight: 700;
}

.product-table td:nth-child(6) {
  color: #ef4444;
  text-decoration: line-through;
  font-size: 13px;
}
.edit-btn {
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: white;
  border: none;
  padding: 6px 14px;
  margin-bottom: 9px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}

.edit-btn:hover {
  transform: scale(1.08);
}

.delete-btn {
  background: #fee2e2;
  color: #dc2626;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  /* margin-left: 6px; */
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover {
  background: #fecaca;
}