
.viewproducts-container h2 {
  margin-bottom: 20px;
}

.product-table {
  width: 85%;
  border-collapse: collapse;
  background: white;
  margin-left: 230px ;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.product-table th {
  background-color: #f4f4f4;
  font-weight: 600;
}

.table-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

/* Buttons */
.edit-btn {
  padding: 6px 12px;
  margin-right: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  padding: 6px 12px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #a71d2a;
}
