.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 10px;
    scrollbar-width: none;
    
    
}
.popular::-webkit-scrollbar {
    display: none;
}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
.popular-item img {
    width: 100%;
    height: 350px;        
    object-fit: cover;    
    border-radius: 8px;
}
